<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Project</title>
</head>

<body>
    <h1 id="project-title"></h1>
    <hr>
    <div>
        <table>
            <tr>
                <td><span style="color: #0275d8;">Create Issue</span></td>
                <td><span style="color: #5bc0de;">Update Issue</span></td>
                <td><span style="color: #d9534f;">Delete Issue</span></td>
            </tr>
            <tr>
                <td>
                    <form action="/" method="POST" id="createForm">
                        <input type="text" name="issue_title" required placeholder="issue_title(*)"> <br>
                        <input type="text" name="issue_text" required placeholder="issue_text(*)"> <br>
                        <input type="text" name="created_by" required placeholder="created_by(*)"> <br>
                        <input type="text" name="assigned_to" placeholder="assigned_to"> <br>
                        <input type="text" name="status_text" placeholder="status_text"> <br>
                        <input type="submit" value="Create">
                    </form>
                </td>
                <td>
                    <form action="/" method="POST" id="updateForm">
                        <input type="text" name="_id" required placeholder="_id(*)"> <br>
                        <input type="text" name="issue_title" placeholder="issue_title"> <br>
                        <input type="text" name="issue_text" placeholder="issue_text"> <br>
                        <input type="text" name="created_by" placeholder="created_by"> <br>
                        <input type="text" name="assigned_to" placeholder="assigned_to"> <br>
                        <input type="text" name="status_text" placeholder="status_text"> <br>
                        <input type="checkbox" name="open"> <label>Open issue</label> <br>
                        <input type="submit" value="Update">
                    </form>
                </td>
                <td>
                    <form action="/" method="POST" id="deleteForm">
                        <input type="text" name="_id" required placeholder="_id(*)"> <br>
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <code id="output"></code>

    <hr>

    <h1>List Issue</h1>
    
    <div id="list-issue"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
        </script>
    <script src="project.js"></script>
</body>

</html>