body, html {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
    color: #dd4814;
    margin: 50px 0;
}

hr {
    width: 70%;
}

div {
    margin: 50px 0;
}

code {
    font-family: monospace;
    background-color: #ddd;
    font-size: 15px;
}

p {
    font-size: 30px;
    color: #5e0080;
}

table {
    margin: 0 auto;
    width: 700px;
    border-spacing: 100px 10px;
}

td {
    vertical-align: top;
    font-size: 15px;
}

label {
    font-size: 15px;
}

input {
    outline: none;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #5e0080;
}

input[type=submit] {
    background-color: white;
    color: #5e0080;
}

input[type=submit]:hover {
    background-color: cyan;
}

input[type=submit]:active {
    color: white;
    background-color: #dd4814;
}

.issue{
    border: 1px solid #5e0080;
    border-spacing: 0;
}
.issue td {
    border-left: 1px solid #5e0080;
}